#topText
{
	font-size:16px;
	height:100%;
	text-align:justify;
	margin:auto;
}

#blueContent
{
	background:url(Images/pattern.png);
	height:100%;
}
#ersContentIntroDivWhiteC
{
	background:url(Images/pattern.png);
	padding:30px 15% 40px 15%;
}
#ersContentIntroDivWhite
{
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
	border-radius:25px;
	background:#FFFFFF;
	color:rgb(89,129,168);
	font-size:14px;
	line-height:22px;
	padding:10px 5% 10px 5%;
}